@use "@mixins" as mix;

.btnBase {
  @include mix.flex_center;

  border: none;
  border-radius: 32px;
  padding: 8px 16px;

  transition: opacity 0.3s ease-in-out;

  @include mix.layout_expanded {
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, filter 0.3s ease-in-out;

    filter: contrast(100%);

    &:hover {
      filter: contrast(125%);
    }
  }
}

.btnBaseEffects {
  &:active {
    opacity: 0.5;
  }
}

// Variant

.btnVariantFilled {
  background: var(--btn-base);
  color: var(--btn-contrast);
}

.btnVariantOutline {
  background: transparent;
  color: var(--btn-base);
  border: 2px solid var(--btn-base);
}

.btnVariantInvert {
  background: var(--btn-contrast);
  color: var(--btn-base);
  border: 2px solid var(--btn-base);

  @include mix.layout_expanded {
    &:hover {
      background: var(--btn-base);
      color: var(--btn-contrast);
    }
  }
}

.btnVariantGhost {
  background: transparent;
  color: var(--btn-base);
}

.btnVariantBgLight {
  background: rgba(255, 255, 255, 0.75);
  color: #000;
}

.btnVariantBgDark {
  background: rgba(0, 0, 0, 0.75);
  color: #ffffff;
}
