@use "@mixins" as mix;

.btnBase {
  background-color: red;

  @include mix.flex_center;
  padding: 4px 8px;
  transition: 0.3s ease-in-out all;

  &:hover {
    background-color: green;
  }

  @include mix.responsive_large {
    background-color: yellow;
  }
  
}
