.pytest_cache/
.venv/
__pycache__/
instance/*.db
backend/instance/*.db
*.pyc
.idea/
__MACOSX/


# Front

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

.agent/
.cursor/
.idea/
.vscode/

# generated native folders
# /ios
# /android
*.apk
*.apks
*.aab
