@use "@mixins" as mix;

:root {
  @include mix.layout_compact {
    --btn-border-width: 2px;
  }
  @include mix.layout_expanded {
    --btn-border-width: 1px;
  }
}

.btnBase {
  @include mix.flex_center;
  gap: 8px;

  border: none;
  border-radius: 64px;

  transition: opacity 0.3s ease-in-out;

  @include mix.layout_expanded {
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, filter 0.3s ease-in-out;
  }
}
