// *-script-* as "palette-colors-dontchange" - START | Don't change
:root {
  --color-primary: #27427F;
  --color-primaryContrast: #ffffff;
  --color-primaryAlpha: #27427f26;
  // Typography
  --color-link: #436fd7;
  // Semantic
  --color-info: #0da4f0;
  --color-warning: #e49b0f;
  --color-danger: #c21728;
  --color-success: #127949;
  --color-neutral: #7f7f7f;
  --color-infoBg: #0da4f041;
  --color-warningBg: #e49b0f41;
  --color-dangerBg: #c2172841;
  --color-successBg: #12794941;
  --color-neutralBg: #7f7f7f41;
}
// *-script-* as "palette-colors-dontchange" - END | Don't change

// *-script-* as "palette-colors-default" - START | Default
:root {
  // Typography
  --color-text: #090909;
  --color-textSecondary: #F3F3F3;
  // Foundation
  --color-bgBase: #F3F3F3;
  --color-bgBaseInverted: #090909;
  --color-bgSecondary: #EAEAEA;
  --color-bgSecondaryInverted: #151515;
  --color-muted: #999999;
  --color-mutedInverted: #666666;
  --color-border: #999999;
}
// *-script-* as "palette-colors-default" - END | Default

[data-theme="dark"] {
  // Typography
  --color-text: #F3F3F3;
  --color-textSecondary: #090909;
  // Foundation
  --color-bgBase: #090909;
  --color-bgBaseInverted: #F3F3F3;
  --color-bgSecondary: #151515;
  --color-bgSecondaryInverted: #EAEAEA;
  --color-muted: #666666;
  --color-mutedInverted: #999999;
  --color-border: #666666;
}
