@import "tailwindcss";
@config "../../tailwind.config.mjs";

html {
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bgBase);
  color: var(--color-text);
  font-family: var(--font-urbanist);
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  font-family: var(--font-urbanist);
}

span {
  font-family: var(--font-urbanist);
}
