@use "@mixins" as mix;
@use "@vars" as var;

:root {
  @include mix.layout_compact {
    --popover-border-width: 2px;
  }
  @include mix.layout_expanded {
    --popover-border-width: 1px;
  }

  @include mix.responsive_small {
    --popover-width: 320px;
    --popover-height: 100px;
  }

  @include mix.responsive_medium {
    --popover-width: 360px;
    --popover-height: 120px;
  }

  @include mix.responsive_large {
    --popover-width: 360px;
    --popover-height: 120px;
  }
}

// Container

.alertsOverlay {
  @include mix.flex_center;
  @include mix.width_full;
  @include mix.height_full;
  z-index: 999;
  position: fixed;
  inset: 0;
  background-color: var.$color-overlay-dark;  
}

.alertsPopover {
  z-index: 1000;
  position: relative;

  width: clamp(60px, var(--popover-width), var(--popover-width));
  min-height: var(--popover-height);

  overflow: scroll;

  background-color: var(--color-bgSecondary);
  border-radius: 16px;
  overflow: hidden;

  padding: 16px;

  @include mix.layout_compact {
    border: var(--popover-border-width) solid var(--color-border);
  }
  @include mix.layout_expanded {
    border: var(--popover-border-width) solid var(--color-border);
  }
  
}

.areaTimeBar {
  @include mix.width_full;
  position: absolute;
  bottom: 0;
  left: 0;
}

// Alert

.alertsContainerAlert {
  @include mix.flex_center;
  @include mix.flex_column;
  @include mix.width_full;
  @include mix.height_full;
  gap: 16px;
}

.alertsContainerAlertTimed {
  padding-bottom: 16px;
}

.alertsContainerAlertActions {
  @include mix.width_full;
  @include mix.flex_center;
  @include mix.flex_row;
  align-items: center;
  gap: 8px;
  
  @include mix.responsive_small {
    justify-content: flex-end;
  }
  
  @include mix.responsive_medium {
    justify-content: center;
  }
  
  @include mix.responsive_large {
    justify-content: center;
  }
}
